.product-card {
    max-width: 150px;
}

mat-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

mat-card {
    transition: transform .2s;
}

.sort-dropdown {
    margin-left: 20px;
}

.pagination {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.search-sort-bar {
    margin-top: 20px;
    margin-bottom: 20px
}
